@import "tailwindcss";

@source "../src/**/*.{js,jsx,mjs,ts,tsx}";

@layer base {
  button {
    cursor: pointer;
  }

  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 8px !important;
    overflow: hidden !important;
    box-shadow: inset 0 10px 0 rgba(255, 255, 255, 0.5);
  }
}

@theme {
  --color-background: #f4f7fb;
  --color-foreground: #1c283e;
  --color-card: #ffffff;
  --color-card-foreground: #1c283e;
  --color-popover: #ffffff;
  --color-popover-foreground: #1c283e;
  --color-primary: #4e89fe;
  --color-primary-400: #4e89fe;
  --color-primary-450: #4e89fe;
  --color-primary-500: #4e89fe;
  --color-primary-foreground: #ffffff;
  --color-secondary: #f0f7ff;
  --color-secondary-foreground: #4e89fe;
  --color-muted: #f8fafc;
  --color-muted-foreground: #64748b;
  --color-accent: #eff6ff;
  --color-accent-foreground: #3b82f6;
  --color-destructive: #ef4444;
  --color-destructive-foreground: #ffffff;
  --color-border: #e2e8f0;
  --color-input: #f1f5f9;
  --color-ring: #4e89fe;
  --color-chart-1: #4e89fe;
  --color-chart-2: #8b5cf6;
  --color-chart-3: #06b6d4;
  --color-chart-4: #f59e0b;
  --color-chart-5: #ec4899;
  --color-sidebar: #1c283e;
  --color-sidebar-foreground: #f8fafc;
  --color-sidebar-primary: #4e89fe;
  --color-sidebar-primary-foreground: #ffffff;
  --color-sidebar-accent: #2e3b52;
  --color-sidebar-accent-foreground: #ffffff;
  --color-sidebar-border: #2e3b52;
  --color-sidebar-ring: #4e89fe;
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 1rem;
  --shadow-x: 0;
  --shadow-y: 4px;
  --shadow-blur: 12px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.05;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --shadow-2xs: 0 4px 12px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0 4px 12px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm:
    0 4px 12px 0px hsl(0 0% 0% / 0.05), 0 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow:
    0 4px 12px 0px hsl(0 0% 0% / 0.05), 0 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md:
    0 4px 12px 0px hsl(0 0% 0% / 0.05), 0 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg:
    0 4px 12px 0px hsl(0 0% 0% / 0.05), 0 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl:
    0 4px 12px 0px hsl(0 0% 0% / 0.05), 0 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0 4px 12px 0px hsl(0 0% 0% / 0.13);
  --tracking-normal: -0.01em;
  --spacing: 0.25rem;
  /* 、、、 */

  --color-atext-500: #111111;
  --color-atext-460: #444444;
  --color-atext-450: #999999;
  --color-atext-400: #666666;
  --color-atext-300: #bfbfbf;
}
